<div class="card bg-light">
    <div class="card-body">
      <a routerLink="/lugares" >Lugares</a> / Contacto
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <label>Nombre</label>
      <input type="text" class="form-control">
      <br/>
        
      <label>Correo</label>
      <input type="email" class="form-control">
      <br/>

      <label>Mensaje</label>
      <textarea  class="form-control"></textarea>
      <br/>

      <button class="btn btn-primary">Enviar</button>
      <button class="btn btn-secondary" routerLink="/lugares">Cancelar</button>
    </div>

    <div class="col-md-4">
      <H1>Platzi Square</H1>

      <p>Empresa dedicada a la enseñanza en el área de las tecnologías de la información. A través de nuestros cursos podrás capacitarte en cualquier área de tecnología y empezar tu propio proyecto </p>

      <p>Nuestra ubicación es: Cl. 72 #9 - 55, Bogotá</p>

      <h2>No pares de Apreder. Te esperamos!!</h2>

    </div>

  </div>
</div> 